<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="Open3DEditor.Core">
    <components>
      <component type="Open3DEditor.OpenTKRender.View, Open3DEditor.OpenTKRender" service="Open3DEditor.Core.IView, Open3DEditor.Core" instance-scope="per-dependency" />
      <component type="Open3DEditor.OpenTKRender.VertexBuffer, Open3DEditor.OpenTKRender" service="Open3DEditor.Core.IVertexBuffer, Open3DEditor.Core" instance-scope="per-dependency" />
      <component type="Open3DEditor.OpenTKRender.IndexBuffer, Open3DEditor.OpenTKRender" service="Open3DEditor.Core.IIndexBuffer, Open3DEditor.Core" instance-scope="per-dependency" />
      <component type="Open3DEditor.OpenTKRender.Graphics, Open3DEditor.OpenTKRender" service="Open3DEditor.Core.IGraphics, Open3DEditor.Core" instance-scope="single-instance" />
      <component type="Open3DEditor.Win.MainWindow, Open3DEditor.Win" service="Open3DEditor.Core.IApplicationWindow, Open3DEditor.Core" instance-scope="single-instance" />
    </components>
  </autofac>

</configuration>